@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black75: hsla(0, 0%, 0%, 0.75);
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--White);
  overflow-x: hidden;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

/* Navigation */
.black {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: var(--Black75);
  z-index: 1;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  width: 100vw;
  padding: 24px;
  background-color: var(--White);
  z-index: 1000;
}

#Hamburger-menu {
  height: 15px;
  margin-right: 20px;
  fill: var(--Dark-grayish-blue);
}

#nav-items {
  position: absolute;
  display: grid;
  grid-template-rows: repeat(5, 46px);
  background-color: var(--White);
  left: -75vw;
  top: 68px;
  height: calc(100vh - 68px);
  width: 75vw;
  padding: 20px;
  transition: left 0.4s ease-in-out;
}

nav.open #nav-items {
  left: 0;
}

#Hamburger-menu #line_1,
#line_2,
#line_3 {
  transition: 0.4s;
}

nav.open #Hamburger-menu #line_1 {
  transform: rotate(45deg);
  x: 2px;
  y: -2px;
}

nav.open #Hamburger-menu #line_2 {
  opacity: 0;
}

nav.open #Hamburger-menu #line_3 {
  transform: rotate(-45deg);
  x: -7px;
  y: 9px;
}

#nav-items a {
  color: black;
  font-weight: 700;
}

nav div:nth-child(2) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
}

nav div:nth-child(2) img {
  height: 25px;
}

#quantity-notification {
  display: none;
  position: absolute;
  background-color: var(--Orange);
  color: var(--White);
  font-size: 0.6rem;
  padding: 1px 6px;
  border-radius: 8px;
  top: -4px;
  left: 10px;
}

/* Main */
main {
  margin-bottom: 36px;
  position: relative;
}

/* Cart Detail */
#cart-card {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr auto 3fr;
  align-items: center;
  height: 250px;
  width: 94%;
  padding: 26px 0;
  background-color: var(--White);
  left: 3%;
  top: 15px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.empty-cart {
  text-align: center;
  color: var(--Dark-grayish-blue);
  font-weight: 700;
}

#cart-card > * {
  padding: 0 24px;
}

#cart-card p:first-child {
  font-weight: 700;
}

#cart-card hr {
  height: 1px;
  border: none;
  background-color: var(--Light-grayish-blue);
}

#cart-card .cart-details {
  display: grid;
  grid-template-areas:
    "thumbnail title trash"
    "thumbnail detail trash";
  align-items: center;
  color: var(--Dark-grayish-blue);
}

.cart-details img:first-child {
  grid-area: thumbnail;
  height: 52px;
  border-radius: 4px;
}

.cart-details img:last-child {
  grid-area: trash;
  justify-self: end;
}

.cart-details p:nth-child(2) {
  grid-area: title;
}

.cart-details p:nth-child(3) {
  grid-area: detail;
}

.cart-details p:nth-child(3) span {
  color: black;
  font-weight: 700;
}

#cart-card button {
  color: var(--Pale-orange);
  font-weight: 700;
  font-size: 1rem;
  height: 56px;
  align-self: end;
  margin: 0 24px;
  background-color: var(--Orange);
  border: none;
  border-radius: 10px;
}

/* Gallery */
main > section:nth-child(2) {
  position: relative;
  height: 300px;
  overflow: hidden;
}

main section:nth-child(2) figure {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.4s ease-out;
}

main .full-product-image {
  width: 100vw;
  height: auto;
}

main section:nth-child(2) .thumbnails {
  display: none;
}

main section:nth-child(2) .mobile-gallery-nav-arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 135px;
  width: 100%;
  padding: 0 15px;
}

.mobile-gallery-nav-arrows img {
  background-color: var(--White);
  padding: 15px 18px;
  border-radius: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

/* Second Section */
main div section:nth-child(1) {
  padding: 24px 26px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
}

main div section:nth-child(1) p:nth-child(1) {
  color: var(--Orange);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

main div section:nth-child(1) p:nth-child(3) {
  color: var(--Dark-grayish-blue);
}

/* Third Section */
main div section:nth-child(2) {
  padding: 0 26px;
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
}

main div section:nth-child(2) h2 {
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  gap: 15px;
}

main div section:nth-child(2) h2 span {
  color: var(--Orange);
  font-size: 1rem;
  background-color: var(--Pale-orange);
  padding: 3px;
  border-radius: 3px;
}

main div section:nth-child(2) p {
  justify-self: end;
  color: var(--Grayish-blue);
  text-decoration: line-through;
  font-weight: 600;
}

/* Quantity change Section */
main div section:nth-child(3) div:first-child {
  padding: 36px 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main div section:nth-child(3) #product-quantity {
  font-weight: 700;
}

/* Add to cart button */
#add-to-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 26px;
  width: calc(100vw - 52px);
  height: 56px;
  background-color: var(--Orange);
  border-radius: 10px;
  box-shadow: 0 10px 18px hsla(26, 100%, 55%, 0.4);
}

#add-to-cart-button svg {
  transform: scale(0.7);
}

#add-to-cart-button svg path {
  fill: var(--Pale-orange);
}

#add-to-cart-button button {
  border: none;
  background: none;
  color: var(--Pale-orange);
  font-weight: 700;
  font-size: 1rem;
}

/* --Tablet view */
@media screen and (min-width: 600px) {
  nav div:nth-child(2) {
    width: 8vw;
  }

  #cart-card {
    width: 50%;
    left: 48%;
  }

  main > section:nth-child(2) {
    height: 500px;
  }

  main section:nth-child(2) .mobile-gallery-nav-arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 235px;
    width: 100%;
    padding: 0 15px;
  }
}

/* --Desktop view */
@media screen and (min-width: 1024px) {
  body {
    margin: 0 15vw;
  }
  nav {
    height: 113px;
    width: auto;
    padding: 44px 0;
    background-color: var(--White);
    border-bottom: 2px solid var(--Light-grayish-blue);
    z-index: 1000;
  }

  #Hamburger-menu {
    display: none;
  }

  nav div:nth-child(1) {
    display: flex;
    gap: 54px;
  }

  #quantity-notification{
    top: 10px;
  }

  #nav-items {
    position: relative;
    display: flex;
    flex-direction: row;
    background: none;
    height: 100%;
    width: auto;
    padding: 0;
    left: 0;
    top: 0;
    gap: 34px;
  }

  #nav-items a {
    position: relative;
    color: var(--Grayish-blue);
    font-weight: 400;
    transition: color 0.4s ease-in-out;
  }

  #nav-items a::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: -46px;
    left: 0;
    transform: scaleX(0);
    background-color: var(--Orange);
    transition: transform 0.4s ease-in-out;
  }

  #nav-items a:hover {
    color: black;
  }

  #nav-items a:hover::after {
    transform: scaleX(1);
  }

  #cart-icon {
    cursor: pointer;
  }

  nav div:nth-child(2) img {
    position: relative;
    height: 50px;
    cursor: pointer;
    border: 2px solid var(--White);
    border-radius: 100%;
    transition: border 0.4s;
  }

  nav div:nth-child(2) img:hover {
    border: 2px solid var(--Orange);
  }

  main {
    padding: 90px 2.5vw;
    display: grid;
    grid-template-columns: 30vw 30vw;
    column-gap: 5vw;
    margin: 0;
  }

  #cart-card{
    width: 363px;
    left: calc(100% - 363px);
    top: -18px;
    height:auto;
    gap: 24px;
  }

  main section:nth-child(2) {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 25px;
  }

  main section:nth-child(2) figure {
    position: relative;
  }

  main .full-product-image {
    max-width: 30vw;
    height: auto;
    border-radius: 20px;
  }

  main section:nth-child(2) .thumbnails {
    display: flex;
    flex-direction: row;
    gap: 25px;
    place-self: start;
  }

  main section:nth-child(2) .thumbnails div {
    width: calc(((30vw - (25px * 3)) / 4));
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
  }

  main section:nth-child(2) .thumbnails div img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: opacity 0.4s ease-in-out;
  }

  main section:nth-child(2) .thumbnails div img:hover {
    opacity: 0.5;
  }

  main section:nth-child(2) .thumbnails .active {
    position: relative;
  }

  main section:nth-child(2) .thumbnails .active img {
    border: 2px solid var(--Orange);
    border-radius: 10px;
  }

  main section:nth-child(2) .thumbnails .active img:hover {
    opacity: 1;
  }

  main section:nth-child(2) .thumbnails .active::after {
    content: "";
    width: calc(100% - 4px);
    height: calc(100% - 8px);
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 8px;
  }

  main section:nth-child(2) .mobile-gallery-nav-arrows {
    display: none;
  }

  main > div {
    display: flex;
    flex-direction: column;
    place-self: center;
    gap: 35px;
  }

  main div section:nth-child(1) {
    grid-area: info;
    padding: 0;
  }

  main div section:nth-child(1) h1 {
    font-size: 2rem;
  }

  main div section:nth-child(1) p:nth-child(3) {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  main div section:nth-child(2) {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    gap: 16px;
  }

  main div section:nth-child(2) h2 {
    justify-self: start;
  }

  main div section:nth-child(2) p {
    justify-self: start;
  }

  main div section:nth-child(3) {
    display: flex;
    gap: 15px;
    height: 57px;
  }

  main div section:nth-child(3) div:first-child {
    flex-direction: row;
    padding: 15px;
    background-color: var(--Light-grayish-blue);
    min-width: 140px;
    height: 100%;
    border-radius: 10px;
    align-self: center;
  }

  #less,
  #more,
  button,
  #trash-icon {
    cursor: pointer;
  }

  main #add-to-cart-button {
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
    align-self: center;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
  }

  main #add-to-cart-button:hover {
    opacity: 0.5;
  }
}